body{
    margin:0;
    padding:0;
    min-height: 100vh;
}

.header{
    text-align: center;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
}

.personalize-grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap:10px;
}

@media all and (max-width:829.6px){
    .personalize-grid{
        flex-direction: row;
    }
}

.color-change-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.personalize-button{
    width: 150px;
    height: 45px;
    border:1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.grid{
    width: 640px;
    height: 640px;
    border:1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-child{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border:1px solid rgb(205, 205, 205);
}

.footer{
    text-align: center;
}